[variables]
NODE_ENV = 'production'
NEXT_TELEMETRY_DISABLED = '1'
NIXPACKS_NODE_VERSION = '22'
PORT = '3000'
HOSTNAME = '0.0.0.0'

[phases.install]
cmds = ['npm install --ignore-scripts']

[phases.build]
cmds = [
    'npx prisma generate',
    'DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres" npm run build',
    'cp -r public .next/standalone/public',
    'cp -r .next/static .next/standalone/.next/static'
]

[start]
cmd = 'node .next/standalone/server.js'
