[variables]
NODE_ENV = 'production'
NEXT_TELEMETRY_DISABLED = '1'
NIXPACKS_NODE_VERSION = '22'

[phases.install]
cmds = ['npm install --ignore-scripts']

[phases.build]
cmds = ['npx prisma generate', 'npm run build']

[start]
cmd = 'npm run start'
